.app {
  display: contents;
  font-family: Consolas, "Courier New", monospace;
  font-size: 12px;
}

.header {
  display: flex;
  
}

.app__body {
  display: contents;
}


body {
  background-color: #fffffe;

}